.card {
  padding: 20px;
  color: #ddd;
  &__title {
    text-align: center;
  }
  &__headers {
    font-size: 120%;
    font-weight: bold;
  }
  &__body {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__part {
    width: 30%;
    // float: left;
    padding: 20px;
  }
  &__img {
    height: 50%;
    width: 50%;
    border: 2px solid #aaa;
  }
  &__languages {
    &:before {
      content: attr(aria-label);
      font-size: 120%;
      font-weight: bold;
      margin-left: -40px;
      text-transform: capitalize;
      line-height: 150%;
    }
  }
}
